<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miami2salesforce.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="miami.ui.MySettings.ConnectionMiami" connectionString="Data Source=REC-MIAMI_ODS;User ID=M_MIAMIGATE;Password=M_MIAMIGATE"
          providerName="Oracle.DataAccess.Client" />
      <add name="miami.ui.MySettings.ConnectionMiamiBI" connectionString="Data Source=REC-MIAMI_DWH;User ID=M_DWH;Password=M_DWH"
          providerName="Oracle.DataAccess.Client" />
      <add name="miami.ui.MySettings.ConnectionMiamiQuality" connectionString="Data Source=REC-MIAMI_ODS;User ID=M_QUALITY;Password=M_QUALITY"
          providerName="Oracle.DataAccess.Client" />
      <add name="miami2salesforce.My.MySettings.BaseMiamiDWHConnect"
          connectionString="Data Source=REC-MIAMI_DWH;User ID=M_DWH;Password=M_DWH"
          providerName="System.Data.OracleClient" />
      <add name="miami2salesforce.My.MySettings.BaseMiamiGateConnect"
          connectionString="Data Source=REC-MIAMI_ODS;User ID=M_MIAMIGATE;Password=M_MIAMIGATE"
          providerName="System.Data.OracleClient" />
      <add name="miami2salesforce.My.MySettings.BaseMiamiODSConnect"
          connectionString="Data Source=REC-MIAMI_ODS;User ID=M_QUALITY;Password=M_QUALITY"
          providerName="System.Data.OracleClient" />
  </connectionStrings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <miami2salesforce.My.MySettings>
        <setting name="NumberOfDays" serializeAs="String">
            <value>100</value>
        </setting>
        <setting name="Processing" serializeAs="String">
            <value>upload_account</value>
        </setting>
        <setting name="ProxyIP" serializeAs="String">
            <value>192.1.1.3</value>
        </setting>
        <setting name="ProxyPort" serializeAs="String">
            <value>8080</value>
        </setting>
        <setting name="ServeurSmtp" serializeAs="String">
            <value>apps-smtp.randweb.fr</value>
        </setting>
        <setting name="ProxyUserName" serializeAs="String">
            <value>OkQF5CetvBLQlBQ/d07OV/KIBHmUJaZD2E+/PvBPAkE=</value>
        </setting>
        <setting name="SmtpRecipient2" serializeAs="String">
            <value>pierreandre.bourgeois-ext@randstad.fr</value>
        </setting>
        <setting name="SmtpRecipient3" serializeAs="String">
            <value>swathisagar.prabhu-ext@randstad.fr</value>
        </setting>
        <setting name="Debug" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="ProxyPassword" serializeAs="String">
            <value>UaaEAp7PLY43Cg7VSVt65w==</value>
        </setting>
        <setting name="ProxyIsUsed" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="Environment" serializeAs="String">
            <value>Production</value>
        </setting>
        <setting name="miami2salesforce_salesforce_SforceService" serializeAs="String">
            <value>https://login.salesforce.com/services/Soap/c/40.0/0DF57000000MD8H</value>
        </setting>
        <setting name="SmtpRecipient1" serializeAs="String">
            <value>mathieu.gollnick@st-groupe.fr</value>
        </setting>
        <setting name="SFAuthEndPoint" serializeAs="String">
            <value>https://login.salesforce.com/services/Soap/c/40.0</value>
        </setting>
        <setting name="SFPassword" serializeAs="String">
            <value>ZYVFik9g2tyoF1xhkypGmrSGVLd7MpDc</value>
        </setting>
        <setting name="SFUserName" serializeAs="String">
            <value>t77/K5s0yqu3+ZNHNSWWHJsUI+DjqdVa</value>
        </setting>
        <setting name="SFToken" serializeAs="String">
            <value>Pmuh8b085US3u0QLP9fgWIDhJ</value>
        </setting>
    </miami2salesforce.My.MySettings>
  </applicationSettings>
</configuration>

<!--<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miami2salesforce.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="miami2salesforce.My.MySettings.BaseMiamiDWHConnect" connectionString="Data Source=AWS-TNSMIAMI;User ID=M_DWH;Password=M_DWH" providerName="System.Data.OracleClient"/>
        <add name="miami2salesforce.My.MySettings.BaseMiamiGateConnect" connectionString="Data Source=AWS-TNSMIAMI;User ID=M_MIAMIGATE;Password=M_MIAMIGATE" providerName="System.Data.OracleClient"/>
        <add name="miami2salesforce.My.MySettings.BaseMiamiODSConnect" connectionString="Data Source=AWS_TNSMIAMI;User ID=M_ODS;Password=M_ODS" providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <miami2salesforce.My.MySettings>
            <setting name="NumberOfDays" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Processing" serializeAs="String">
                <value>upload_account</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value>192.1.1.3</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value>rMllQm3T3gQu5Wx+4sQ/bHklnPtR761U</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ServeurSmtp" serializeAs="String">
                <value>apps-smtp.randweb.fr</value>
            </setting>
            <setting name="SmtpRecipient2" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpRecipient3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value>NCYmO9rvQJCYIdZNFvuBdw==</value>
            </setting>
            <setting name="Environment" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="miami2salesforce_salesforce_SforceService" serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/42.0/0DF260000004Cyp</value>
            </setting>
            <setting name="SmtpRecipient1" serializeAs="String">
                <value>kalidou.lam-ext@randstad.fr</value>
            </setting>
            <setting name="SFAuthEndPoint" serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/42.0</value>
            </setting>
            <setting name="SFPassword" serializeAs="String">
                <value>mY3+qOaIQO+1Y7PlrtDKLg==</value>
            </setting>
            <setting name="SFUserName" serializeAs="String">
                <value>t77/K5s0yqu3+ZNHNSWWHKg620VVRxTMAB9VP5slHbc=</value>
            </setting>
            <setting name="SFToken" serializeAs="String">
                <value>gLEWdJyyZZ1NmCss5U4XRxLZ</value>
            </setting>
        </miami2salesforce.My.MySettings>
    </applicationSettings>
</configuration>-->

<!--<configuration>
    <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miami2salesforce.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <connectionStrings>
      <add name="miami2salesforce.My.MySettings.BaseMiamiDWHConnect"  connectionString="Data Source=AWS-DWH-MIAMI;User ID=M_DWH;Password=M_DWH;" providerName="Oracle.Data.OracleClient" />
      <add name="miami2salesforce.My.MySettings.BaseMiamiGateConnect" connectionString="Data Source=AWS-ODS-MIAMI;User ID=M_MIAMIGATE;Password=M_MIAMIGATE;"  providerName="System.Data.OracleClient" />
      <add name="miami2salesforce.My.MySettings.BaseMiamiODSConnect" connectionString="Data Source=AWS-ODS-MIAMI;User ID=M_QUALITY;Password=M_QUALITY;" providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup>

      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
      <miami2salesforce.My.MySettings>
        <setting name="NumberOfDays" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="Processing" serializeAs="String">
          <value>upload_account</value>
        </setting>
        <setting name="ProxyIP" serializeAs="String">
          <value>192.1.1.3</value>
        </setting>
        <setting name="ProxyUserName" serializeAs="String">
          <value>6CznMoOLimK70VUbVH6vTw==</value>
        </setting>
        <setting name="ProxyPort" serializeAs="String">
          <value>8080</value>
        </setting>
        <setting name="ServeurSmtp" serializeAs="String">
          <value>apps-smtp.randweb.fr</value>
        </setting>
        <setting name="SmtpRecipient2" serializeAs="String">
          <value>pierreandre.bourgeois-ext@randstad.fr</value>
        </setting>
        <setting name="SmtpRecipient3" serializeAs="String">
          <value>swathisagar.prabhu-ext@randstad.fr</value>
        </setting>
        <setting name="Debug" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ProxyPassword" serializeAs="String">
          <value>UaaEAp7PLY43Cg7VSVt65w==</value>
        </setting>
        <setting name="ProxyIsUsed" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Environment" serializeAs="String">
          <value>Production</value>
        </setting>
        <setting name="miami2salesforce_salesforce_SforceService" serializeAs="String">
          <value>https://login.salesforce.com/services/Soap/c/40.0/0DF57000000MD8H</value>
        </setting>
        <setting name="SmtpRecipient1" serializeAs="String">
          <value>mathieu.gollnick@st-groupe.fr</value>
        </setting>
        <setting name="SFAuthEndPoint" serializeAs="String">
          <value>https://login.salesforce.com/services/Soap/c/40.0</value>
        </setting>
        <setting name="SFPassword" serializeAs="String">
          <value>ZYVFik9g2tyoF1xhkypGmrSGVLd7MpDc</value>
        </setting>
        <setting name="SFUserName" serializeAs="String">
          <value>t77/K5s0yqu3+ZNHNSWWHJsUI+DjqdVa</value>
        </setting>
        <setting name="SFToken" serializeAs="String">
          <value>Pmuh8b085US3u0QLP9fgWIDhJ</value>
        </setting>
      </miami2salesforce.My.MySettings>
    </applicationSettings>
  </configuration>-->
